<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina1</title>
</head>
<body>
    <h1>
        hola amiguitos como estan {{nombre}} ,su apelldio es {{apellido}} el dia es {{dia.day}} de {{dia.month}} del {{dia.year}}
    </h1>
        <ul>
            {% if temas %}
                {% for i in temas %}
                    <li>{{i}}</li>
                {% endfor %}
            {% else %}
                <li>no hay temas</li>
            {% endif %}
        </ul>
</body>
</html>