<html>
    <style>
        #barra{
            margin: 0;
            padding: 0;
            list-style: none;
            text-transform: uppercase;
            
        }
        #barra li{
            display: inline;
            margin:0 20px;
            color: blue;
        }
        #barra li a{
            text-decoration: none;
            color: blue;
        }
    </style>
    <body>
        <ul id="barra">
            <li>
                <a href="">home</a> 
            </li>
            <li>
                <a href="">about</a>
            </li>
            <li>
                <a href="">contact</a>
            </li>
            <li>
                <a href="">services</a>
            </li>
            <li>
                <a href="">blog</a>
            </li>
        </ul>

    </body>
</html>